* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #158bd3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Tahoma, sans-serif;
}

.card {
  width: 150px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);/*سایه ملایم*/
  overflow: hidden;
  border: 4px solid #fff;
  transform: translate(0, 0);
}

.card img {
  width: 100%;
  height: 140px;
  padding-top:5px;
  padding-right:5px;
  padding-bottom:5px;
  padding-left:5px;
  border-radius:10px;
  
}

.card-content {
  padding: 10px;
  padding-left:6px;
  position: relative;
  font-size: 9px;
  text-align: left;
}

.card-title {
  font-weight: 900;/*bold بود ولی بنظرم بلدتر باید باشه*/
  font-size: 11px;
  margin-bottom: 6px;
}

.card-subtitle {
  color: #666;
  margin-bottom: 2px;
  font-weight:normal;
}

.card-rating {
  color: #0b66a1;
  font-weight: normal;
}

.menu-more {
  position: absolute;
  top: 9px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13px;
}

.menu-more span {
  width: 3px;
  height: 3px;
  background:#848b90;
  border-radius: 50%;
}